<!DOCTYPE html>
<html ng-app="abc">
  <head>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body ng-controller="Ctrl">
    <div>
      <input type="text" ng-model="email">
      <button class="btn btn-default" ng-click="enter(email)">Enter</button>
    </div>

    <div>
    	<li>person1@email.com</li>
    	<li>person2@email.com</li>
    	<li ng-repeat=" e in emails">{{e}}</li>
    </div>

	

    <div>
	    <!-- <select>
			<option ng-repeat="obj in score" value="obj.group">{{obj.group}}</option>
		</select> -->
    	<select ng-model="g" ng-options="s.group for s in score" ></select>
    	<select ng-model="n" ng-options="n.name for n in g.info" ng-change="result()"></select>
    	<input type="text" ng-model="sc" disabled="true">
    </div>

    <script src="angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="abc.js"></script>
  </body>
</html>